.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 24px;
    font-weight: 800;
}

.instruction {
    font-size: 1.5rem;
    color: #475569;
    font-weight: 600;
    padding: 0 20px;
    text-align: center;
}


.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clear-btn {
    display: flex;
    justify-content: flex-end;
    padding: 0 30px 8px 0;
    width: 100%;
}

.clear-btn-item {
    background-color: var(--primary);
    color: var(--white);
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 32px;
}

.button-row {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

.button-row::-webkit-scrollbar {
    display: none;
}

.body-part-button {
    min-width: 160px;
    max-height: 100px;
    background-color: #f1f5f9;
    border-radius: 14px;
    margin: 8px;
    padding: 4px 10px;
    font-size: 18px;
    font-weight: 600;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e293b;
    color: var(--white);
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 8px;
    padding: 16px 28px;
    margin-bottom: 10px;
}
.disabled-link {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
