#container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 60vh;
}

.instruction {
    font-size: 1.5rem;
    color: #475569;
    font-weight: 600;
    padding: 0 20px;
    text-align: center;
}

.symptom-list {
    background-color: transparent;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    position: relative;
}

.btn .btn-primary {
    overflow: hidden;
    padding: 12px;
}
