.switch-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f1f5f9;
    padding: 4px;
    border-radius: 14px;
    width: 100%;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 800;
    padding: 8px 12px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

mark {
    background-color: var(--primary)!important;
    color: white!important;
    padding: 4px;
    border-radius: 4px;
}
