.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    height: var(--default-layout-header-height, 68px);
    background-color: transparent;
}
.container {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.back-button {
    display: flex;
    align-items: flex-start;
}

.breadcrumb {
    --angle: 6px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    .breadcrumb-item {
        --bg: var(--primary);
        white-space: nowrap;
        background: var(--bg);
        padding: calc(var(--angle) / 2);
        padding-left: calc(var(--angle) * 1.5);
        padding-right: calc(var(--angle) * 1.5);
        clip-path: polygon(
            calc(100% - var(--angle)) 0%,
            100% 50%,
            calc(100% - var(--angle)) calc(100% - 0px),
            0% 100%,
            var(--angle) 50%,
            0% 0%
        );
        color: var(--white);
        font-size: 12px;
        font-weight: 800;
        &:first-of-type {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            clip-path: polygon(
                calc(100% - var(--angle)) 0%,
                100% 50%,
                calc(100% - var(--angle)) calc(100% - 0px),
                0% 100%,
                0 50%,
                0% 0%
            );
        }
        &:last-of-type {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            clip-path: polygon(100% 0%, 100% 50%, 100% calc(100% - 0px), 0% 100%, var(--angle) 50%, 0% 0%);
        }
        &:only-child {
            clip-path: none;
        }
    }
}
