.container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    background-color: rgb(204, 251, 241);
}
.content-loaded {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.result-button {
    background-color: var(--primary);
    padding: 14px 80px;
    font-size: 16px;
    border-radius: 16px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result-button:focus {
    background-color: #0e8c7f;
}
