.area-name {
    font-size: 1.6rem;
    font-weight: 800;
}

.symptom-name {
    background-color: var(--primary);
    margin: 2px 2px;
    padding: 2px 10px;
    border-radius: 8px;
    color: var(--white);
    font-weight: 800;
    font-size: 1.4rem;
}
